{% extends APPOINTMENT_BASE_TEMPLATE %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/appointments.css' %}"/>
{% endblock %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block description %}
    {{ page_description }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="djangoAppt_main-container">
            <div class="djangoAppt_body-container">
                <h1 class="page-title">{{ service.name }}</h1>
                <small class="page-description">
                    {% trans "Check out our availability and book the date and time that works for you" %}
                </small>
                <hr>

                <div class="djangoAppt_page-body">
                    <div class="djangoAppt_appointment-calendar">
                        <div class="djangoAppt_appointment-calendar-title-timezone">
                            <div class="djangoAppt_title">
                                {% trans "Select a date and time" %}
                            </div>
                            <div class="djangoAppt_timezone-details">
                                {% trans "Timezone" %}:&nbsp;{{ timezoneTxt }}
                            </div>
                        </div>
                        <hr class="djangoAppt_second-part">
                        <div class="djangoAppt_calendar-and-slot">
                            <div class="djangoAppt_calendar" id="calendar">
                            </div>
                            <div class="djangoAppt_slot">
                                <div class="djangoAppt_date_chosen">{{ date_chosen }}</div>
                                <div class="slot-container">
                                    <div class="error-message"></div>
                                    <ul id="slot-list" class="djangoAppt_slot-list">
                                        <!-- Slot list will be updated dynamically by the AJAX request -->
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="djangoAppt_service-description">
                        <form method="post" action="{% url 'appointment:appointment_request_submit' %}"
                              class="appointment-form">
                            {% csrf_token %}
                            <div>{% trans "Service Details" %}</div>
                            <hr class="djangoAppt_second-part">
                            <div class="djangoAppt_service-description-content">
                                <p class="djangoAppt_item-name">{{ service.name }}</p>
                                <p id="service-datetime-chosen" class="service-datetime-chosen">{{ date_chosen }}</p>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <button type="submit"
                                        class="btn btn-primary btn-submit-appointment"
                                        disabled>{% trans 'Next' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                             role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.43/moment-timezone-with-data.min.js"
            integrity="sha512-KCI+fR3bUbOcU0ZC3UcaPwCLuO5LEkukaWBYddmhLPXgpAPWJ8j6pJLmTI6t9CMYczE4YCrWZQ/wrZz/JsyC+A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script>
        const timezone = "{{ timezone }}";
        const locale = "{{ locale }}";
        const availableSlotsAjaxURL = "{% url 'appointment:available_slots_ajax' %}";
        const requestNextAvailableSlotURLTemplate = "{% url 'appointment:request_next_available_slot' service_id=0 %}";
        const serviceId = "{{ service.id }}";
        const serviceDuration = parseInt("{{ service.duration.total_seconds }}") / 60;
    </script>
    <script src="{% static 'js/appointments.js' %}"></script>
{% endblock %}
