[run]
branch = True
source =
    appointment

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if self.debug
    raise NotImplementedError
    if __name__ == .__main__.:

omit =
    */__init__.py
    */tests/*
    */tests/test_*.py
    */test_*.py
    manage.py
