include LICENSE
include README.md
recursive-include appointment/templates/appointment *.html
recursive-include appointment/templates/base_templates *.html
recursive-include appointment/templates/email_sender *.html
recursive-include appointment/static/css *.css
recursive-include appointment/static/js *.js
recursive-include appointment/static/img *.jpg
recursive-include appointment/email_sender *.py
recursive-include appointment/tests *.py
recursive-include appointment *.py
recursive-include docs *
include logger_config.py
include release_notes.md
exclude appointment/__pycache__