Django==5.2.15
Pillow==12.3.0
phonenumbers==9.0.34
django-phonenumber-field==8.4.0
babel==2.18.0
setuptools==83.0.0
requests~=2.34.2
python-dotenv==1.2.2
colorama~=0.4.6
django-q2==1.10.0
icalendar~=7.1.0
django-recurrence==1.14
