Django==5.1.7
Pillow==11.2.1
phonenumbers==9.0.7
django-phonenumber-field==8.1.0
babel==2.17.0
setuptools==80.9.0
requests~=2.32.4
python-dotenv==1.1.0
colorama~=0.4.6
django-q2==1.8.0
icalendar~=6.3.1
