.section-content-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modify-btn {
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s; /* Consistent transition */
}

/* Button hover effects for a dynamic touch */
.modify-btn:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05) translateY(-3px);
}

.button-color-blue {
    background: linear-gradient(90deg, #007BFF, #0056b3);
}

.button-color-red {
    background: linear-gradient(90deg, #dc3545, #c82333);
}

.button-color-green {
    background: linear-gradient(90deg, #28a745, #218838);
}

.button-color-purple {
    background: linear-gradient(90deg, #6f42c1, #5a32a3);
}

.button-color-blue:hover {
    background: linear-gradient(90deg, #0056b3, #007BFF); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slight scale on hover for engagement */
    color: #babaf5;
}

.button-color-red:hover {
    background: linear-gradient(90deg, #c82333, #dc3545);
    transform: scale(1.05);
    color: #efcece;
}

.button-color-green:hover {
    background: linear-gradient(90deg, #218838, #28a745);
    transform: scale(1.05);
    color: #c3e6cb;
}

.button-color-purple:hover {
    background: linear-gradient(90deg, #5a32a3, #6f42c1);
    transform: scale(1.05);
    color: #d1b6e1;
}

.buttons-container {
    display: flex;
    gap: 5px; /* Provides space between the buttons */
}

@media screen and (max-width: 768px) {
    .modify-btn {
        padding: 6px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 487px) {
    .section-content-button.modify-btn {
        padding: 4px 8px;
        font-size: 12px;
    }

    .buttons-container {
        gap: 3px;
    }
}