.fc-scroller {
    overflow: hidden !important;
}

@media (max-width: 450px) {
    .fc-daygrid-day-events {
        display: none !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0 !important;
        height: 0 !important;
    }

    .fc, .fc-button {
        padding: .3em .45em !important;
    }
}

.btn-submit-appointment {
    background-color: #00aaf0;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}