<!-- appointment/templates/error_pages/403_forbidden_rescheduling.html -->
{% extends "appointment/layout.html" %}
{% load i18n %}
{% load static %}
{% block customMetaTag %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block title %}
    {% trans "Not authorized!" %}
{% endblock %}
{% block description %}
    {% trans "Form resubmission not allowed." %}
{% endblock %}
{% block djappt_content %}
    <div class="djappt-shell djappt-shell--narrow">
        <div class="djappt-card djappt-card--roomy djappt-center box">
            <img class="djappt-illustration" src="{% static 'img/dog-family-colored-doodle-drawing.webp' %}" alt=""
                 width="383" height="221">
            <p class="djappt-eyebrow">403</p>
            <h1 class="djappt-title">{% trans "Sorry, it's not allowed to reschedule this appointment at this time" %}.</h1>
            <p class="djappt-lead">{% trans "Please, send us a message or schedule a new appointment" %}.</p>
            <div class="djappt-actions">
                <a href="{{ url }}" class="btn djappt-btn djappt-btn-primary">{% trans "Book an appointment" %}</a>
            </div>
        </div>
    </div>
    <!-- Illustration credits: https://codepen.io/fcasantos/pen/Ooreoa -->
{% endblock %}
