name: Upload Python Package Draft to TestPyPI on PR to Main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine requests  # Added requests for the version check

    # Check if the current version is already on PyPI
    - name: Check version on TestPyPI
      run: |
        python check_version.py  # Make sure this script checks against TestPyPI

    # Build the package (folder exclusion is handled by MANIFEST.in)
    - name: Build package
      run: |
        python setup.py sdist bdist_wheel

    - name: Upload to TestPyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload --repository-url https://test.pypi.org/legacy/ dist/*
