name: Tests

on:
  push:
    branches-ignore:
      - 'main'
  workflow_dispatch:
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
    branches-ignore:
      - 'main'
  pull_request:
    types: [opened, reopened]

env:
  USE_DJANGO_Q: 'true'

jobs:
  testing:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 10
      matrix:
        python-version: [3.10.5]
        fail-fast: [false]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage
    - name: Debug Coverage Configuration
      run: |
        coverage debug sys
        coverage debug config
    - name: Setup Database and Migrations
      env:
        USE_DJANGO_Q: 'true'
      run: |
        python manage.py makemigrations
        python manage.py migrate
    - name: Run Tests
      env:
        USE_DJANGO_Q: 'true'
      run: |
        python manage.py test appointment.tests --parallel=10 --shuffle --verbosity=2
    - name: Install tblib for better error reporting
      if: failure()
      run: pip install tblib
    - name: Rerun failed tests with tblib
      env:
        USE_DJANGO_Q: 'true'
      if: failure()
      run: |
        python manage.py test appointment.tests --parallel=10 --shuffle --verbosity=2
